@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jura:wght@300..700&display=swap');

:root[data-theme="dark"] {
  --color-primary: #00cae0;
  --color-secondary: #5eff4d;
  --color-accent: #eb6600;
  --color-background: #00050f;
  --color-text: #eaf6f2;
  --font-headings: 'Comfortaa', sans-serif;
  --font-body: 'Jura', sans-serif;
}
:root[data-theme="light"] {
  --color-primary: #1fe9ff;
  --color-secondary: #12b300;
  --color-accent: #ff7a14;
  --color-background: #f0f5ff;
  --color-text: #091511;
  --font-headings: 'Comfortaa', sans-serif;
  --font-body: 'Jura', sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Typography */

header {
  font-family: var(--font-headings);
  font-size: 3.5rem;
  font-weight: 800;
}

p {
  font-family: var(--font-body);
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
    header {
        font-size: 4rem;
    }
}

/* Links */

a {
  font-family: var(--font-body);
  color: var(--color-text);
}

.bold {
  text-align: center;
  font-weight: bold;
  color: var(--color-accent);
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  .bold {
    font-size: 4rem;
  }
}

.emphasis {
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* animations */
@keyframes glob {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) skew(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) skew(15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) skew(0deg);
  }
}