@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jura:wght@300..700&display=swap');

:root[data-theme="dark"] {
  --color-primary: #00cae0;
  --color-secondary: #5eff4d;
  --color-accent: #eb6600;
  --color-background: #00050f;
  --color-text: #eaf6f2;
  --color-text-neg: #091511;
  --font-headings: 'Comfortaa', sans-serif;
  --font-body: 'Jura', sans-serif;
}
:root[data-theme="light"] {
  --color-primary: #1fe9ff;
  --color-secondary: #12b300;
  --color-accent: #ff7a14;
  --color-background: #f0f5ff;
  --color-text: #091511;
  --color-text-neg: #eaf6f2;
  --font-headings: 'Comfortaa', sans-serif;
  --font-body: 'Jura', sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--color-background);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.desktop-only {
  display: none;
}
.mobile-only {
  display: inherit;
}

@media screen and (min-width: 768px) {
 .page-padding {
  height: 100px;
 }
 .desktop-only {
  display: inherit;
}
.mobile-only {
  display: none;
}
}

/* Typography */

header {
  font-family: var(--font-headings);
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-text);
}

.page-header {
  font-size: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  color: var(--color-text);
}

h1 {
  font-size: 3.5rem;
}

div {
  font-family: var(--font-body);
}

p {
  font-family: var(--font-body);
  color: var(--color-text);
  font-size: 2rem;
}

.footnote {
  opacity: .7;
}

@media screen and (min-width: 700px) {
    header {
        font-size: 4rem;
    }
}

/* Links */

a {
  font-family: var(--font-body);
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

:root[data-theme="light"] .paragraph-link {
  filter: brightness(.7);
}

.link--arrow {
  font-size: 3rem;
  font-family: var(--font-headings);
  font-weight: bolder;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.link--arrow:hover {
  scale: 1.1;
}

.link--arrow::after {
  content: '→';
  margin-left: 5px;
  transition: margin 0.2s;
}

.link--arrow:hover::after {
  margin-left: 20px;
}

.link-dashed::before {
  content: '--';
  margin-right: 5px;
  transition: margin .2s;
}
.link-dashed::after {
  content: '--';
  margin-left: 5px;
  transition: margin .2s;
}
.link-dashed:hover::before, .link-dashed:hover::after {
  margin: 0 10px;
}

.bold {
  text-align: center;
  font-weight: bold;
  color: var(--color-accent);
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  .bold {
    font-size: 4rem;
  }
}

.emphasis {
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* animations */
@keyframes glob {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) skew(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) skew(15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) skew(0deg);
  }
}

@keyframes spin {
  0% { rotate: 0; }
  100% { rotate: 360deg; }
}